<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <display-name>tongji</display-name>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>cpoi.jsp</welcome-file>
     </welcome-file-list>
     <servlet>
     	<servlet-name>thirdLevel</servlet-name>
     	<servlet-class>com.kolong.tongji.servlet.ThirdLevelServlet</servlet-class>
     </servlet>
     <servlet-mapping>
     	<servlet-name>thirdLevel</servlet-name>
     	<url-pattern>/thirdLevel</url-pattern>
     </servlet-mapping>
     <servlet>
     	<servlet-name>firstLevel</servlet-name>
     	<servlet-class>com.kolong.tongji.servlet.FirstLevelServlet</servlet-class>
     	<load-on-startup>1</load-on-startup>
     </servlet>
     <servlet-mapping>
     	<servlet-name>firstLevel</servlet-name>
     	<url-pattern>/firstLevel</url-pattern>
     </servlet-mapping>
     <servlet>
     	<servlet-name>table</servlet-name>
     	<servlet-class>com.kolong.tongji.servlet.TableServlet</servlet-class>
     	<load-on-startup>1</load-on-startup>
     </servlet>
     <servlet-mapping>
     	<servlet-name>table</servlet-name>
     	<url-pattern>/table</url-pattern>
     </servlet-mapping>
     <servlet>
     	<servlet-name>tableInfo</servlet-name>
     	<servlet-class>com.kolong.tongji.servlet.TableInfoServlet</servlet-class>
     </servlet>
     <servlet-mapping>
     	<servlet-name>tableInfo</servlet-name>
     	<url-pattern>/tableInfo</url-pattern>
     </servlet-mapping>
     <filter>
     	<filter-name>DateFilter</filter-name>
     	<filter-class>com.kolong.tongji.filter.DateFilter</filter-class>
     </filter>
     <filter-mapping>
     	<filter-name>DateFilter</filter-name>
     	<url-pattern>/*</url-pattern>
     </filter-mapping>
    </web-app>
